@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(19,8,105,0.9318321078431373) 51%, rgba(6,0,11,1) 100%);
  inset: 0;
}



body::-webkit-scrollbar{
  display:none;
}